[user]
	name = EthanHuang
	email = ethanhuang0606@gmail.com
[core]
	editor = vim
	autocrlf = false
	quotepath = false
[help]
	autocorrect = 30
[color]
	diff = auto
	status = auto
	branch = auto
[credential]
	helper = store
